@media(min-width:1217px){
    .foodsbodycontainer{
        position: relative;
        display: flex;
        left:2.5%;
        width:100%;
        max-width: 95%;
        height:fit-content;
    }
    .aside{
        position: relative;
        width: 100%;
        max-width: 22%;
        height: fit-content;
        background-color: white;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    .superstorebody{
        position: relative;
        display: block;
        width: 100%;
        max-width: 80%;
        height: fit-content;
        margin-bottom: 10px;
    }
    .navigate{
        position: relative;
        display: flex;
        flex-direction: row;
        top:5px;
        width: 100%;
        max-width: 100%;
        height:30px;
        margin-bottom: 10px;
    }
    .navigate div{
        position: relative;
        display: flex;
        left:3%;
        width: 100%;
        max-width: fit-content;
    }
    .navigate div p{
        position: relative;
        left:0px;
        top:-10px;
        font-size: 0.9rem;
        color: black;
        margin-right:5px;
    }
    .navigate div span{
        position: relative;
        left:0px;
        top:4px;
        font-size: 0.9rem;
        color: black;
        margin-right:5px;
    }
    
}
@media(max-width:1216px) and (min-width:992px){
    .foodsbodycontainer{
        position: relative;
        display: flex;
        left:2.5%;
        width:100%;
        max-width: 95%;
        height:fit-content;
    }
    .aside{
        position: relative;
        width: 100%;
        max-width: 22%;
        height: fit-content;
        background-color: white;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    .superstorebody{
        position: relative;
        display: block;
        width: 100%;
        max-width: 80%;
        height: fit-content;
        margin-bottom: 10px;
    }
    .navigate{
        position: relative;
        display: flex;
        flex-direction: row;
        top:5px;
        width: 100%;
        max-width: 100%;
        height:30px;
        margin-bottom: 10px;
    }
    .navigate div{
        position: relative;
        display: flex;
        left:3%;
        width: 100%;
        max-width: fit-content;
    }
    .navigate div p{
        position: relative;
        left:0px;
        top:-10px;
        font-size: 0.9rem;
        color: black;
        margin-right:5px;
    }
    .navigate div span{
        position: relative;
        left:0px;
        top:4px;
        font-size: 0.9rem;
        color: black;
        margin-right:5px;
    }
    
}
@media(max-width:991px){
    .foodsbodycontainer{
        position: relative;
        display: flex;
        left:2.5%;
        width:100%;
        max-width: 95%;
        height:fit-content;
    }
    .aside{
        position: relative;
        width: 100%;
        max-width: 22%;
        height: fit-content;
        background-color: white;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    .superstorebody{
        position: relative;
        display: block;
        width: 100%;
        max-width: 80%;
        height: fit-content;
        margin-bottom: 10px;
    }
    .navigate{
        position: relative;
        display: flex;
        flex-direction: row;
        top:5px;
        width: 100%;
        max-width: 100%;
        height:30px;
        margin-bottom: 10px;
    }
    .navigate div{
        position: relative;
        display: flex;
        left:3%;
        width: 100%;
        max-width: fit-content;
    }
    .navigate div p{
        position: relative;
        left:0px;
        top:-10px;
        font-size: 0.9rem;
        color: black;
        margin-right:5px;
    }
    .navigate div span{
        position: relative;
        left:0px;
        top:4px;
        font-size: 0.9rem;
        color: black;
        margin-right:5px;
    }
    
}