@media (min-width:1217px){
    :root{
        --primaryColor : var(rgba(6, 15, 51, 0.83));
    }
    html{
        font-size: 14px;
    }
    .mainHeaderV2{
        position:  sticky;
        display: flex;
        flex-direction: row;
        top:0px;
        width:100%;
        background-color: white;
        align-items: flex-start;
        justify-content: center;
        height: 75px;
        z-index: 9999;
        box-shadow: 0px 2px rgba(170, 170, 170, 0.507);
    }
    .mainHeaderV2 .catappearance{
        position: relative;
        display: flex;
        top:23%;
        left:0%;
        align-items: center;
        justify-content: right;
        width:100%;
        max-width: 10%;
        height:82%;
    }
    .catappearance img{
        position:relative;
        width: 100%;
        top:-5px;
        max-width: 17%;
        height: 50%;
        margin-left: 7px;
    }
    .catappearance p{
        position: relative;
        top:-7px;
        font-weight: 600;
    }
    form{
        position: relative;
        top:25%;
        left:7%;
        width: 100%;
        max-width: 40%;
        height: 43px;
    }
    form #searchBarV2{
        position: relative;
        top:0%;
        width: 100%;
        max-width: 95%;
        height:85%;
        border: 1px solid red;
        border-radius: 5px;
        font-size: 1rem;
    }
    form #searchBarV2:focus{
        outline: 1px solid red;
    }
    .homeLogoV2{
        position: relative;
        top:25%;
        left:1%;
        width: 100%;
        max-width: 10%;
        height: 40px;
        border: 1px grey solid;
    }
    #accBarV2{
        position: relative;
        top:25%;
        left:4%;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 25%;
        height: 40px;
    }
    #searchV2{
        position: relative;
        left:88.5%;
        top:-40px;
        background-color: red;
        width:100%;
        max-width:4%;
        height: 19.5px;
        padding: 10px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
    .searchitems{
        position: relative;
        top:25%;
        left:4%;
        width: 100%;
        max-width: 40%;
        height: 43px;
    }
    #accItemsV2{
        position: relative;
        display: flex;
        top:0%;
        left:2%;
        width: 100%;
        max-width:30%;
        height: 100%;
        margin-right: 15px;
    }
    #accItemsV2 a:hover{
        color: red;
    }
    #accItemsV2 .bx-help-circle{
        position: relative;
        top:7px;
        margin-right:7px;
        font-size: 1.2rem;
    }
    #accItemsV2 p{
        position: relative;
        top:-9px;
        text-align: center;
        font-weight:600; 
    }
    #accItemsV2:hover{
        color:red;
    }
    #accItemsV2 #helpdownV2{
        position: relative;
        display: flex;
        top:10%;
        width:100%;
        max-width: 30%;
        height: 80%;
        border:none;
        background-color: white;
    }
    #accItemsV2 #helpdownV2:hover{
        color: red;
    }
    #helpdownV2 .bx-chevron-down{
        position: relative;
        font-size: 1.2rem;
        top:6px;
        left:0px;
    }
    #accItemsV2 #helpupV2{
        position: relative;
        display: none;
        top:15%;
        width:100%;
        max-width: 30%;
        height: 80%;
        background-color: white;
        border:none;
    }
    #accItemsV2 #helpupV2:hover{
        color: red;
    }
    #helpupV2 .bx-chevron-up{
        position: relative;
        left:0px;
    }
    #accItems2V2{
        position: relative;
        left:-6px;
    }
    #accItems3V2{
        position: relative;
        top:15%;
        left:-4%;
        display: block;
        width: 100%;
        max-width:25%;
        height: 70%;
        background-color: black;
        margin-right: 10px;
    }
    #accItems3V2:hover{
        background-color: rgb(78, 78, 78);
    }
    #accItems3V2 #signup{
        position: relative;
        top:2px;
        left:10px;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
    }
    #accItems4V2{
        position: relative;
        top:0%;
        left:0%;
        width: 100%;
        max-width: 26%;
        height: 100%;
        border-radius: 3px;
        background-color: rgb(16, 184, 86);
    }
    #accItems4V2 img{
        position:relative;
        left:10%;
        top:25%;
        width: 100%;
        max-width: 20%;
        height: 50%;
        margin-right:2px;
    }
    #accItems4V2 p{
        position: relative;
        left:38%;
        top: -78%;
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 15px;
        color:white;
    }
    #accItems4V2 div{
        position: relative;
        top:-74px;
        left:75%;
        width:100%;
        max-width: 20%;
        height: 55%;
        background-color: white;
        align-content: center;
        border-radius: 2px;

    }
    #accItems4V2 div p{
        position: relative;
        top: 2px;
        left: 20%;
        color:black;
        font-size: 1rem;
    }
}
@media (max-width:1216px) and (min-width:992px){
    :root{
        --primaryColor : var(rgba(6, 15, 51, 0.83));
    }
    html{
        font-size: 14px;
    }
    .mainHeaderV2{
        position:  sticky;
        display: flex;
        flex-direction: row;
        top:0px;
        width:100%;
        background-color: white;
        align-items: flex-start;
        justify-content: center;
        height: 75px;
        z-index: 9999;
        box-shadow: 0px 2px rgba(170, 170, 170, 0.507);
    }
    .mainHeaderV2 .catappearance{
        position: relative;
        display: flex;
        top:23%;
        left:0%;
        align-items: center;
        justify-content: right;
        width:100%;
        max-width: 10%;
        height:82%;
    }
    .catappearance img{
        position:relative;
        width: 100%;
        top:-5px;
        max-width: 17%;
        height: 50%;
        margin-left: 7px;
    }
    .catappearance p{
        position: relative;
        top:-7px;
        font-weight: 600;
    }
    form{
        position: relative;
        top:25%;
        left:7%;
        width: 100%;
        max-width: 40%;
        height: 43px;
    }
    .searchitems{
        position: relative;
        top:25%;
        left:4%;
        width: 100%;
        max-width: 40%;
        height: 43px;
    }
    form #searchBarV2{
        position: relative;
        top:0%;
        width: 100%;
        max-width: 95%;
        height:85%;
        border: 1px solid red;
        border-radius: 5px;
        font-size: 1rem;
    }
    form #searchBarV2:focus{
        outline: 1px solid red;
    }
    .homeLogoV2{
        position: relative;
        top:25%;
        left:2%;
        width: 100%;
        max-width: 10%;
        height: 40px;
        border: 1px grey solid;
    }
    #accBarV2{
        position: relative;
        top:25%;
        left:4%;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 25%;
        height: 40px;
    }
    #searchV2{
        position: relative;
        left:88.5%;
        top:-40px;
        background-color: red;
        width:100%;
        max-width:4%;
        height: 19.5px;
        padding: 10px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
    #accItemsV2{
        position: relative;
        display: flex;
        top:0%;
        left:2%;
        width: 100%;
        max-width:30%;
        height: 100%;
        margin-right: 30px;
    }
    #accItemsV2 a:hover{
        color: red;
    }
    #accItemsV2 .bx-help-circle{
        position: relative;
        top:7px;
        margin-right:7px;
        font-size: 1.2rem;
    }
    #accItemsV2 p{
        position: relative;
        top:-9px;
        text-align: center;
        font-weight:600; 
    }
    #accItemsV2:hover{
        color:red;
    }
    #accItemsV2 #helpdownV2{
        position: relative;
        display: flex;
        top:10%;
        width:100%;
        max-width: 30%;
        height: 80%;
        border:none;
        background-color: white;
    }
    #accItemsV2 #helpdownV2:hover{
        color: red;
    }
    #helpdownV2 .bx-chevron-down{
        position: relative;
        font-size: 1.2rem;
        top:6px;
        left:0px;
    }
    #accItemsV2 #helpupV2{
        position: relative;
        display: none;
        top:15%;
        width:100%;
        max-width: 30%;
        height: 80%;
        background-color: white;
        border:none;
    }
    #accItemsV2 #helpupV2:hover{
        color: red;
    }
    #helpupV2 .bx-chevron-up{
        position: relative;
        left:0px;
    }
    #accItems2V2{
        position: relative;
        left:-6px;
    }
    #accItems3V2{
        position: relative;
        top:15%;
        left:-4%;
        display: block;
        width: 100%;
        max-width:30%;
        height: 70%;
        background-color: black;
        margin-right: 10px;
    }
    #accItems3V2:hover{
        background-color: rgb(78, 78, 78);
    }
    #accItems3V2 #signup{
        position: relative;
        top:2px;
        left:8px;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
    }
    #accItems4V2{
        position: relative;
        top:0%;
        left:0%;
        width: 100%;
        max-width: 32%;
        height: 100%;
        border-radius: 3px;
        background-color: rgb(16, 184, 86);
    }
    #accItems4V2 img{
        position:relative;
        left:10%;
        top:25%;
        width: 100%;
        max-width: 20%;
        height: 50%;
        margin-right:2px;
    }
    #accItems4V2 p{
        position: relative;
        left:38%;
        top: -78%;
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 15px;
        color:white;
    }
    #accItems4V2 div{
        position: relative;
        top:-74px;
        left:75%;
        width:100%;
        max-width: 20%;
        height: 55%;
        background-color: white;
        align-content: center;
        border-radius: 2px;

    }
    #accItems4V2 div p{
        position: relative;
        top: 2px;
        left: 20%;
        color:black;
        font-size: 1rem;
    }
}
@media(max-width:991px){
    :root{
        --primaryColor : var(rgba(6, 15, 51, 0.83));
    }
    html{
        font-size: 14px;
    }
    .mainHeaderV2{
        position:  sticky;
        display: flex;
        flex-direction: row;
        top:0px;
        width:100%;
        background-color: white;
        align-items: flex-start;
        justify-content: center;
        height: 75px;
        z-index: 9999;
        box-shadow: 0px 2px rgba(170, 170, 170, 0.507);
    }
    .mainHeaderV2 .catappearance{
        position: relative;
        display: flex;
        top:23%;
        left:0%;
        align-items: center;
        justify-content: right;
        width:100%;
        max-width: 10%;
        height:82%;
    }
    .catappearance img{
        position:relative;
        width: 100%;
        top:-5px;
        max-width: 17%;
        height: 50%;
        margin-left: 7px;
    }
    .catappearance p{
        position: relative;
        top:-7px;
        font-weight: 600;
    }
    form{
        position: relative;
        top:25%;
        left:7%;
        width: 100%;
        max-width: 40%;
        height: 43px;
    }
    form #searchBarV2{
        position: relative;
        top:0%;
        width: 100%;
        max-width: 95%;
        height:85%;
        border: 1px solid red;
        border-radius: 5px;
        font-size: 1rem;
    }
    form #searchBarV2:focus{
        outline: 1px solid red;
    }
    .searchitems{
        position: relative;
        top:25%;
        left:6%;
        width: 100%;
        max-width: 40%;
        height: 43px;
    }
    .homeLogoV2{
        position: relative;
        top:25%;
        left:3%;
        width: 100%;
        max-width: 10%;
        height: 40px;
        border: 1px grey solid;
    }
    #accBarV2{
        position: relative;
        top:25%;
        left:6%;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 30%;
        height: 40px;
    }
    #searchV2{
        position: relative;
        left:88.5%;
        top:-40px;
        background-color: red;
        width:100%;
        max-width:4%;
        height: 19.5px;
        padding: 10px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
    #accItemsV2{
        position: relative;
        display: flex;
        top:0%;
        left:2%;
        width: 100%;
        max-width:30%;
        height: 100%;
        margin-right: 25px;
    }
    #accItemsV2 a:hover{
        color: red;
    }
    #accItemsV2 .bx-help-circle{
        position: relative;
        top:7px;
        margin-right:7px;
        font-size: 1.2rem;
    }
    #accItemsV2 p{
        position: relative;
        top:-9px;
        text-align: center;
        font-weight:600; 
    }
    #accItemsV2:hover{
        color:red;
    }
    #accItemsV2 #helpdownV2{
        position: relative;
        display: flex;
        top:10%;
        width:100%;
        max-width: 30%;
        height: 80%;
        border:none;
        background-color: white;
    }
    #accItemsV2 #helpdownV2:hover{
        color: red;
    }
    #helpdownV2 .bx-chevron-down{
        position: relative;
        font-size: 1.2rem;
        top:6px;
        left:0px;
    }
    #accItemsV2 #helpupV2{
        position: relative;
        display: none;
        top:15%;
        width:100%;
        max-width: 30%;
        height: 80%;
        background-color: white;
        border:none;
    }
    #accItemsV2 #helpupV2:hover{
        color: red;
    }
    #helpupV2 .bx-chevron-up{
        position: relative;
        left:0px;
    }
    #accItems2V2{
        position: relative;
        left:-6px;
    }
    #accItems3V2{
        position: relative;
        top:15%;
        left:-4%;
        display: block;
        width: 100%;
        max-width:25%;
        height: 70%;
        background-color: black;
        margin-right: 10px;
    }
    #accItems3V2:hover{
        background-color: rgb(78, 78, 78);
    }
    #accItems3V2 #signup{
        position: relative;
        top:2px;
        left:10px;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
    }
    #accItems4V2{
        position: relative;
        top:0%;
        left:0%;
        width: 100%;
        max-width: 26%;
        height: 100%;
        border-radius: 3px;
        background-color: rgb(16, 184, 86);
    }
    #accItems4V2 img{
        position:relative;
        left:10%;
        top:25%;
        width: 100%;
        max-width: 20%;
        height: 50%;
        margin-right:2px;
    }
    #accItems4V2 p{
        position: relative;
        left:38%;
        top: -78%;
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 15px;
        color:white;
    }
    #accItems4V2 div{
        position: relative;
        top:-74px;
        left:75%;
        width:100%;
        max-width: 20%;
        height: 55%;
        background-color: white;
        align-content: center;
        border-radius: 2px;

    }
    #accItems4V2 div p{
        position: relative;
        top: 2px;
        left: 20%;
        color:black;
        font-size: 1rem;
    }
}



