@media(min-width:1217px){
    .Superstoreinn{
        position: relative;
        width: 100%;
        max-width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
        height:fit-content;
        background-color: white;
    }
    
}
@media(max-width:1216px) and (min-width:991px){
    .Superstoreinn{
        position: relative;
        width: 100%;
        max-width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
        height:fit-content;
        background-color: white;
    }
    
}
@media(max-width:991px){
    .Superstoreinn{
        position: relative;
        width: 100%;
        max-width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
        height:fit-content;
        background-color: white;
    }
    
}