@media(min-width:1217px){
    .contacttopboard{
        position: relative;
        left:5%;
        width:100%;
        max-width: 90%;
        height: 250px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: white;
    }
    .contactbodyboard{
        position: relative;
        display: block;
        width:100%;
        left:5%;
        max-width: 90%;
        height: 1000px;
        margin-bottom: 10px;
        background-color: rgb(89, 206, 196);
    }
    .contactbodyboard p{
        position: relative;
        top:2%;
        margin-left:40px;
        font-size: 2rem;
        font-weight:700;
        color:white;
    }
    .contactbodyboard form{
        position: relative;
        display: block;
        top: 1%;
        left: 3%;
        width: 100%;
        max-width: 40%;
        height: 50%;
        background-color: white;
        border-radius:5px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
    .contactemail{
        position: relative;
        top:5%;
        left:5.5%;
        width: 100%;
        max-width: 85%;
        height: 7%;
        margin-bottom: 20px;
    }
    .contactsubject{
        position: relative;
        top:5%;
        left:5.5%;
        width: 100%;
        max-width: 85%;
        height: 7%;
        margin-bottom: 20px;
    }
    .contactmessage{
        position: relative;
        left:5.7%;
        height:30%;
        resize: none;
    }
    form label{
        position: relative;
        top:4%;
        left:6%;
    }
    .contactsubmit{
        position: relative;
        left: 12%;
        top:5%;
        width: 100%;
        max-width: 70%;
        font-size: 1rem;
        color:white;
        font-weight: 700;
        letter-spacing: 3px;
        height: 10%;
        background-color: rgb(23, 180, 120);
        border-radius: 5px;
        border: none;
    }
    .contactsubmit:hover{
        background-color: rgb(20, 150, 100);
    }
    .phonesupport{
        position:relative;
        font-size: 2rem;
        font-weight:700;
    }
    .contactbodyboard span{
        position: relative;
        top:0px;
        left:3.5%;
        color: white;
        font-size:1.5rem;
        font-weight:400;
    }
    
    
}
@media(max-width:1216px) and (min-width:991px){
    .contacttopboard{
        position: relative;
        left:5%;
        width:100%;
        max-width: 90%;
        height: 250px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: white;
    }
    .contactbodyboard{
        position: relative;
        display: block;
        width:100%;
        left:5%;
        max-width: 90%;
        height: 1000px;
        margin-bottom: 10px;
        background-color: rgb(89, 206, 196);
    }
    .contactbodyboard p{
        position: relative;
        top:2%;
        margin-left:40px;
        font-size: 2rem;
        font-weight:700;
        color:white;
    }
    .contactbodyboard form{
        position: relative;
        display: block;
        top: 1%;
        left: 3%;
        width: 100%;
        max-width: 40%;
        height: 50%;
        background-color: white;
        border-radius:5px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
    .contactemail{
        position: relative;
        top:5%;
        left:5.5%;
        width: 100%;
        max-width: 85%;
        height: 7%;
        margin-bottom: 20px;
    }
    .contactsubject{
        position: relative;
        top:5%;
        left:5.5%;
        width: 100%;
        max-width: 85%;
        height: 7%;
        margin-bottom: 20px;
    }
    .contactmessage{
        position: relative;
        left:5.7%;
        height:30%;
        resize: none;
    }
    form label{
        position: relative;
        top:4%;
        left:6%;
    }
    .contactsubmit{
        position: relative;
        left: 12%;
        top:5%;
        width: 100%;
        max-width: 70%;
        font-size: 1rem;
        color:white;
        font-weight: 700;
        letter-spacing: 3px;
        height: 10%;
        background-color: rgb(23, 180, 120);
        border-radius: 5px;
        border: none;
    }
    .contactsubmit:hover{
        background-color: rgb(20, 150, 100);
    }
    .phonesupport{
        position:relative;
        font-size: 2rem;
        font-weight:700;
    }
    .contactbodyboard span{
        position: relative;
        top:0px;
        left:3.5%;
        color: white;
        font-size:1.5rem;
        font-weight:400;
    }
    
    
}
@media(max-width:991px){
    .contacttopboard{
        position: relative;
        left:5%;
        width:100%;
        max-width: 90%;
        height: 250px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: white;
    }
    .contactbodyboard{
        position: relative;
        display: block;
        width:100%;
        left:5%;
        max-width: 90%;
        height: 1000px;
        margin-bottom: 10px;
        background-color: rgb(89, 206, 196);
    }
    .contactbodyboard p{
        position: relative;
        top:2%;
        margin-left:40px;
        font-size: 2rem;
        font-weight:700;
        color:white;
    }
    .contactbodyboard form{
        position: relative;
        display: block;
        top: 1%;
        left: 3%;
        width: 100%;
        max-width: 40%;
        height: 50%;
        background-color: white;
        border-radius:5px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
    .contactemail{
        position: relative;
        top:5%;
        left:5.5%;
        width: 100%;
        max-width: 85%;
        height: 7%;
        margin-bottom: 20px;
    }
    .contactsubject{
        position: relative;
        top:5%;
        left:5.5%;
        width: 100%;
        max-width: 85%;
        height: 7%;
        margin-bottom: 20px;
    }
    .contactmessage{
        position: relative;
        left:5.7%;
        height:30%;
        resize: none;
    }
    form label{
        position: relative;
        top:4%;
        left:6%;
    }
    .contactsubmit{
        position: relative;
        left: 12%;
        top:5%;
        width: 100%;
        max-width: 70%;
        font-size: 1rem;
        color:white;
        font-weight: 700;
        letter-spacing: 3px;
        height: 10%;
        background-color: rgb(23, 180, 120);
        border-radius: 5px;
        border: none;
    }
    .contactsubmit:hover{
        background-color: rgb(20, 150, 100);
    }
    .phonesupport{
        position:relative;
        font-size: 2rem;
        font-weight:700;
    }
    .contactbodyboard span{
        position: relative;
        top:0px;
        left:3.5%;
        color: white;
        font-size:1.5rem;
        font-weight:400;
    }
    
    
}

