@media(min-width:1217px){
    .deliverybody{
        position: relative;
        display: block;
        width:100%;
        height: 1200px;
    }
    .deliverytopboard{
        position: relative;
        width: 100%;
        left:5%;
        margin-top: 20px;
        max-width: 90%;
        height: 20%;
        background-color: white;
    }
    .deliverymainboard{
        position: relative;
        display: block;
        width:100%;
        left: 5%;
        max-width: 90%;
        height: 75%;
        background-color: white;
    }
    .deliverymainboard p{
        position: relative;
        font-size: 2rem;
        font-weight: 700;
        top: 5%;
        left:3%;
    }
    .deliverycontent{
        position: relative;
        top:20px;
        left:3%;
        width: 100%;
        max-width: 90%;
        height: 85%;
        border:1px solid grey;
    }
}
@media(max-width:1216px) and (min-width:992px){
    .deliverybody{
        position: relative;
        display: block;
        width:100%;
        height: 1200px;
    }
    .deliverytopboard{
        position: relative;
        width: 100%;
        left:5%;
        margin-top: 20px;
        max-width: 90%;
        height: 20%;
        background-color: white;
    }
    .deliverymainboard{
        position: relative;
        display: block;
        width:100%;
        left: 5%;
        max-width: 90%;
        height: 75%;
        background-color: white;
    }
    .deliverymainboard p{
        position: relative;
        font-size: 2rem;
        font-weight: 700;
        top: 5%;
        left:3%;
    }
    .deliverycontent{
        position: relative;
        top:20px;
        left:3%;
        width: 100%;
        max-width: 90%;
        height: 85%;
        border:1px solid grey;
    }
}
@media(max-width:991px){
    .deliverybody{
        position: relative;
        display: block;
        width:100%;
        height: 1200px;
    }
    .deliverytopboard{
        position: relative;
        width: 100%;
        left:5%;
        margin-top: 20px;
        max-width: 90%;
        height: 20%;
        background-color: white;
    }
    .deliverymainboard{
        position: relative;
        display: block;
        width:100%;
        left: 5%;
        max-width: 90%;
        height: 75%;
        background-color: white;
    }
    .deliverymainboard p{
        position: relative;
        font-size: 2rem;
        font-weight: 700;
        top: 5%;
        left:3%;
    }
    .deliverycontent{
        position: relative;
        top:20px;
        left:3%;
        width: 100%;
        max-width: 90%;
        height: 85%;
        border:1px solid grey;
    }
}
