@media(min-width:1217px){
    .mainboardauto{
        position: absolute;
        display: none;
        left: 20.2%;
        top:1%;
        width: 100%;
        max-width: 60%;
        height: 99%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-right:5px;
        background-color: white;
        border-left: 1px solid rgb(206, 204, 204);
        z-index: 0;
    }
}
@media(max-width:1216px) and (min-width:992px){
    .mainboardauto{
        position: absolute;
        display: none;
        left: 20.2%;
        top:1%;
        width: 100%;
        max-width: 60%;
        height: 99%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-right:5px;
        background-color: white;
        border-left: 1px solid rgb(206, 204, 204);
        z-index: 0;
    }
}
@media(max-width:991px){
    .mainboardauto{
        position: absolute;
        display: none;
        left: 20.2%;
        top:1%;
        width: 100%;
        max-width: 60%;
        height: 99%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-right:5px;
        background-color: white;
        border-left: 1px solid rgb(206, 204, 204);
        z-index: 0;
    }
}
